# Dependencies
node_modules
.pnpm-store

# Production
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.*.local

# IDE & System
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
.vite
